/*
    colorRed: #FF6666;
    colorBlue: #6180DD;
    colorGreen: #5FDD9D;
    colorPurple: #88498F;
*/
body {
    background: white;
	font-family: 'Roboto', sans-serif;
	font-weight:400;
    font-size: 1em;
    padding: 1em;
	margin: auto;
}
body.main {
	max-width: 900px;
}
h1,h2,h3,p{
	margin: 0em;
	padding: 0em;
}
h1{
	font-size: 1.5em;
	font-family: 'Handlee', cursive;
    font-weight: 600;
}
/* questions */
h2{
	font-size: 1.2em;
	font-weight: 300;
}
p{
	padding: 0.2em;
}

.cpyElement{
	font-size:1.1em;
	padding: 8px;
	width: 8em;
	bottom: .8em;
	margin-bottom: 0px;
}


div.block{
	background-color: #E0E0E0;
	margin: 1em;
	padding: 1.2em 1.5em;
	border-radius: 1em;
}
div.purple{
	background-color: #6180DD;
	color: white;
}
div.row {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
    flex-wrap: wrap;
}
div.blockleft{
	width: 25%;
}
div.blockbody{
	width: 70%;
	display:inline-block;
}
div.comments{
	padding: 0.5em 1.8em;
	margin:4px;
	min-height: 8px;
}



div.input{
	display: flex;
	flex-direction: row;
	white-space: nowrap;
}
div.input input{
	flex: 1 1;
	margin: .1em 1em .1em;
}
input{
	min-width: 150px;
	max-width: 600px;
	padding-top: 0.3em;
}


div.buttons {
	margin: 0px;
	padding: 0px 10px 0px;
	overflow:visible;
	vertical-align: middle;
	float:right;
}
div.buttons.left {
	float: left;
}

button{
	color: #444444;
	font-size: 1.3em;
	border:none;
	padding: 0em;
	margin: -0.1em;
	background-color: transparent;
}
.purple.input button{
	color: white;
}
button.selected[value="1"]{
	color: #3EDD8D;
}
button.selected[value="-1"]{
	color: #FF6666;
}