<head>
{% load static %}
</head>
{% if question_list %}
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<div id="detail">
{% for question in question_list %}
<div class="block">
	<h2>
		<div class="buttons right">
			{{ question.upvotes }}
			<button id="Y{{ question.id }}" value="1" onclick="toggle(this, {{question.id}})" 
				{% if question in upvote_question %} class="selected" {% endif %} >▲</button>
			<button id="N{{ question.id }}" value="-1" onclick="toggle(this, {{question.id}})"
				{% if question in downvote_question %} class="selected" {% endif %}  >▼</button>
			{{ question.downvotes }}
		</div>
		{{ question.text }}
	</h2>
	<div class="comments">
		{% for comment in question.comment_set.all %}
			<p>
				<div class="buttons left">
					{{ comment.upvotes }}
					<button name="up" id="Y{{ comment.id }}" value="1" onclick="toggle(this, {{comment.id}})"
					{% if comment in upvote_comment %} class="selected" {% endif %}  >▲</button>
				</div>
				{{ comment.text }} 
			</p>
		{% endfor %}
	</div>
	<div class=input>
		<input size="15" maxlength="150" type="text" id="comment{{ question.id }}"
		onKeyDown="if(event.keyCode==13) comment(this, {{question.id}});" >
		<button onclick="comment(this, {{question.id}})">➤</button>
	</div>
</div>
{% endfor %}
</div>


{% else %}
	<h2>No questions available, add one below</h2>
{% endif %}