<html>
  <head>
  	<title>Security Questions for Everyone </title>
  	{% load static %}
	<link rel="stylesheet" type="text/css" href='{% static "fastselect.css" %}'></script>
  	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Handlee|Roboto:300,400,500,700" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<script src='{% static "script.js" %}'></script>
	<script src='{% static "fastselect.standalone.js" %}'></script>
  	<script type="text/javascript"> window.CSRF_TOKEN = "{{ csrf_token }}"; </script>
	
  </head>

<body>

<div class="block title purple">
	<h1>What do YOU think about Security Questions?
	<span style="float:right"> PROFILE # {{ TODO }} </span></h1>
	<h3>Which ones are good? &nbsp;&nbsp; What makes some of them bad? &nbsp;&nbsp; We need your feedback.</h3>
	<h3>There isn't a diverse group of people developing security questions, so not all their limitations are being spoken for. This is an attempt to get feedback from a more representative audience - you.
	<br><i>Don't answer the questions,</i> comment on what makes them good or bad.
	</h3>
</div>


<!--DETAIL-->
<div>{% include 'detail.html' %}</div>
<!--DETAIL-->


<div class="block input purple">
	<h2>Add a new question:	</h2>
	<input maxlength="100" type="text" id="addQuestion" onKeyDown="if(event.keyCode==13) question(this);" >
>
	<button class="submit" onclick="question(this)">➤</button>
</div>
</body>

</html>