<html>
  <head>
  	<title>Security Questions for Everyone </title>
  	{% load static %}
	<link rel="stylesheet" type="text/css" href='{% static "fastselect.css" %}'></script>
  	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Handlee|Roboto:300,400,500,700" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<script src='{% static "script.js" %}'></script>
	<script src='{% static "fastselect.standalone.js" %}'></script>
  	<script type="text/javascript"> window.CSRF_TOKEN = "{{ csrf_token }}"; </script>
	
  </head>

<body>

<form action="" method="POST">
{% csrf_token %}
{% block logincolor %}
<div class="block purple diversity">
{% endblock %}
    <h1>Login</h1>
	<div class="blockRow diversity">
        <div class="info">
    	    <h3> If you have a profile number, enter it.  Otherwise, we will create one for you.</h3>
        </div>
        <div class="info form blockRow">
		    <input name="id" type="number" class="cpyElement fstElement" placeholder="Profile #">
		    <input type="submit" value="OK" class="cpyELement fstElement submit">
		</div>
	</div>
</div>
</form>


{% block content %}
{% endblock %}

</body>
</html>
