<html>
<body>
	THINGS TO CHANGE
	 - defaulting to male, low, primary
	 - login from form page
 	 - error on min length, min size
 	 - allow adding additional countries, languages

	 - enter should submit
 	 - empty text box after submit

	 - page refresh on submit question

	 - mouse overs

	 - able to delete if you added

	 - drop downs fixed
	 
	 - order questions, comments based on votes



	 - seperate new account button
	 - make login on same page as form

	 - Say fields are optional
	 - insist on honesty

	 - don't make it seem like 

</body>
</html>