<html>
<body>
	THINGS TO CHANGE
	 - seperate new account button
	 - make login on same page as form
	 - defaulting to male, low, primary
 	 - drop downs fixed - add custom country, language, etc
	 - login from form page
 	 - error on min length, min size

	 - enter should submit

	 - page refresh on submit question
	 - able to delete if you added
	 - unselect upvote (comments)

	 - order questions, comments based on votes

	 - profile number on next page

	 - mouse overs
	 Relevant: Do you understand the question?  Do you have an answer to it?
	 Reproducible: Does this change over time?  Will you remember what your answer was?  Is the formatting consistent?
	 Secret:  Is this information publically available?  On social media?
	 Unique: Are there common answers that anyone could guess?

</body>
</html>